@font-face {
  font-family: "iconfont"; /* Project id 3931986 */
  src: url('iconfont.woff2?t=1678590334054') format('woff2'),
       url('iconfont.woff?t=1678590334054') format('woff'),
       url('iconfont.ttf?t=1678590334054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-tushu:before {
  content: "\e614";
}

.icon-shu:before {
  content: "\e62b";
}

.icon-dianying:before {
  content: "\e8ae";
}

